allure-behave==2.8.29
allure-pytest==2.8.29
allure-python-commons==2.8.29
arrow==1.3.0
asttokens==2.4.1
attrs==24.2.0
backoff==2.2.1
behave==1.2.6
boto3==1.29.4
botocore==1.32.7
browsermob-proxy @ git+https://github.com/deepfield/browsermob-proxy-py.git@48accb7f17e776397f98ece63eabcd755d606f3e
certifi==2024.8.30
charset-normalizer==3.4.0
decorator==5.1.1
executing==2.1.0
idna==3.10
iniconfig==2.0.0
ipdb==0.13.4
ipython==8.29.0
jedi==0.19.2
jmespath==1.0.1
matplotlib-inline==0.1.7
packaging==24.2
parse==1.20.2
parse_type==0.6.4
parso==0.8.4
pexpect==4.9.0
pluggy==1.5.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pytest==8.3.3
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.7.0
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
urllib3==2.0.7
wcwidth==0.2.13
